/* Zmienic wyglad aby wygladalo prawie identycznie jak w poleceniu
  rozmiary liter i ikon?
  
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
}

.nav {
  position: relative;
  height: 80px;
  background-color: white;
  z-index: 1;
  padding-left: 7vw;
  padding-right: 7vw;
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__section {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left {
  justify-content: left;
}

.right {
  justify-content: right;
}

.nav__link {
  text-decoration: none;
  color: #1d1f22;
  padding: 28px 16px 30px 16px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  height: 20px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.nav__link--border {
  font-weight: 600;
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
}

/* .nav__link:hover {
  font-weight: 600;
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
} */

.nav__logo {
  padding-top: 24px;
  height: 41px;
  width: 41px;
}

.nav__actions {
  margin-top: 23px;
  margin-bottom: 17px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
}

.nav__currency {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.nav__currency--display {
  padding-right: 6px;
}

.nav__button {
  border: none;
  transform: rotate(0.5turn);
  font-size: 13px;
  padding-top: 6px;

  background-color: white;
}

.nav__button:hover {
  cursor: pointer;
}

.nav__dropdown {
  width: 110px;
  right: 6.3vw;
  display: none;
  position: absolute;
  margin-top: 36px;
  filter: drop-shadow(0px 4px 10px rgba(168, 172, 176, 0.19));
}

.nav__dropdown--item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  background-color: white;
  cursor: pointer;
}

.nav__dropdown--item:first-child {
  padding-top: 20px;
}

.nav__dropdown--item:last-child {
  padding-bottom: 20px;
}

.nav__dropdown--item:hover {
  background-color: #eeeeee;
}

.nav__minicart--button {
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  background: #ffffff;
  cursor: pointer;
}

.nav__minicart--icon {
  height: 20px;
  width: 20px;
}

.nav__minicart--dot {
  margin-left: -7px;
  margin-top: -8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #1d1f22;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.nav__minicart--dot--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  user-select: none;
}

.modal__backdrop {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(57, 55, 72, 0.22);
}

.minicart__container {
  display: none;
  top: 80px;
  right: 5.5vw;

  background: #ffffff;
  position: absolute;
}

.minicart__contents {
  margin: 32px 0px 32px 0px;
}

.minicart__title {
  margin-bottom: 35px;
  margin-right: 16px;
  margin-left: 16px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: capitalize;
}

.minicart__title--quantity {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-transform: none;
}

.minicart__item {
  text-transform: capitalize;
  display: flex;
  color: #1d1f22;
  margin-right: 16px;
  margin-left: 16px;
}

.minicart__item.gap {
  margin-bottom: 40px;
}

.minicart__item--container.scroll {
  max-height: 550px;
  overflow-y: auto;
}

.minicart__item--empty {
  margin-right: 16px;
  margin-left: 16px;

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.minicart__item--details {
  display: block;
  height: fit-content;
}

.minicart__item--brand-name {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

  text-transform: none;
}
.minicart__item--price {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  margin-top: 6px;
  margin-bottom: 8px;
}
.minicart__item--att {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: none;
}
.minicart__item-att-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 6px;
}
.minicart__item--att-text {
  padding: 0px 6px 0px 6px;

  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background: #ffffff;
  border: 1px solid #1d1f22;
}
.minicart__item--att-text.selected {
  background: #1d1f22;
  color: #ffffff;
}
.minicart__item--att-swatch {
  width: 14px;
  height: 14px;
}
.minicart__item--att-swatch-border {
  border: 1px solid transparent;
}

.minicart__item--att-swatch-border .spacer {
  border: 1px solid transparent;
}

.minicart__item--att-swatch-border.selected {
  border: 1px solid #5ece7b;
}

.minicart__item--end {
  margin-left: auto;
  display: flex;
}
.minicart__item--quantity {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  width: 24px;
}
.minicart__item--quantity-text {
  margin: auto;
}
.minicart__item--quantity-button {
  border: 1px solid #1d1f22;
  background-color: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 24px;
  height: 24px;
}

.minicart__item--quantity-button:last-of-type {
  margin-top: auto;
}
.minicart__item--image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 121px;
  height: 100%;
  margin-left: 10px;

  align-self: end;
}
.minicart__total {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 16px;
  margin-left: 16px;
  width: 100%;
  text-transform: capitalize;

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.minicart__total--sum {
  position: absolute;
  bottom: 115px;
  right: 20px;

  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}

.minicart__button--container {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
}

.minicart__link {
  width: 50%;
}

.minicart__button {
  width: 100%;
  min-width: 140px;
  height: 43px;
  cursor: pointer;

  font-family: "Raleway";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.minicart__button--bag {
  border: 2px solid #1d1f22;
  background: #ffffff;
  color: #1d1f22;
}

.minicart__button--bag:disabled {
  opacity: 0.6;
}

.minicart__button--checkout {
  border: 2px solid #5ece7b;
  background: #5ece7b;
  color: #ffffff;
}

.minicart__button--checkout:disabled {
  opacity: 0.6;
}
