.product {
  padding-left: 7vw;
  padding-right: 7vw;
}

.product__container {
  display: flex;
  padding-top: 80px;
  height: 100%;
  margin-bottom: 100px;
}

.product__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 80px;
  height: 100%;
}

.product__gallery--item {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.product__gallery--item:hover {
  cursor: pointer;
}

.product__gallery--item-border {
  cursor: pointer;
  border: 1px solid #5ece7b;
}

.product__bigImg {
  margin-left: 100px;
  width: 710px;
  height: auto;
}

.product__dsc {
  margin-left: 200px;
}

.product__dsc--brand {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.product__dsc--name {
  margin-top: 16px;

  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.product__dsc--attributes {
  margin-top: 50px;
  margin-bottom: 35px;
  gap: 25px;
}
.product__dsc--attributes-type {
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  text-transform: uppercase;
}

.swatch__container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.swatch__item {
  width: 32px;
  height: 32px;
}

.swatch__item--border {
  border: 1px solid transparent;
  cursor: pointer;
}

.swatch__item--border.selected {
  border: 1px solid #5ece7b;
  cursor: pointer;
}

/* .swatch__item--border:hover {
  border: 1px solid #5ece7b;
} */

.swatch__item--white {
  border: 1px solid #1d1f22;
}

.swatch__item--spacer {
  border: 1px solid transparent;
}

.text__container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text__item {
  width: 70px;
  height: 45px;
  border: 1px solid #1d1f22;

  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-align: center;
  cursor: pointer;
}

.text__item--text {
  position: relative;
  top: calc(50% - 9px);
}

.text__item.selected {
  color: white;
  background-color: #1d1f22;
}

.product__dsc--price {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 40px;
}

.product__dsc--button {
  border: 0 solid transparent;
  background-color: #5ece7b;
  border-radius: 0;
  width: 335px;
  height: 60px;
  color: white;
  cursor: pointer;
}

.product__dsc--button.oos {
  opacity: 0.8;
  background-color: #1d1f22;
  cursor: default;
}

.product__dsc--button:hover {
  opacity: 0.8;
}

.product__dsc--button-text {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.product__dsc--dsc {
  margin-top: 40px;
  max-width: 335px;

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
